@page
@model IndexModel
@{

}

<div>
    <h2>OS2sync Browser</h2>
    <p>
        Det er her muligt at browse de data der er indlæst i STS Organisation. Bemærk at dette værktøj laver online opslag
        på webservices, som er langsomme, så load tider på siderne kan være meget lange.
    </p>
    <p>Det er dog kun første gang en side loades at det tager langt tid, da data caches. For at rydde cachen, tryk på knappen nedenfor.</p>

    <a class="btn btn-primary btn-lg" style="width: 200px;" href="Tree">Browse data</a>
    <a class="btn btn-danger btn-lg" style="width: 200px;" href="ClearCache">Ryd cache</a><br /><br />
</div>
